.indexcss{
  position: absolute;
  top: 30px; /* Отступ от верха 30px */
  left: 50%;
  transform: translateX(-50%);
}
.main{
  position: absolute;
  height:400px;
  width: 450px;
  background: lavender;
  border: 1px solid ;
  border-color: black;

}
